#---------------------------------------------------------------------------------
# 配置文件开始
#	【注意】
#	1. 本配置文件按修改频率从高到低，对应从前到后排列
#	2. 如果直接使用我的配置文件，请进行对应修改！！！
#---------------------------------------------------------------------------------
[include]
        path = ~/.gitconfig.local


[http]
	sslVerify = false

[https]
	proxy = 
	sslVerify = false
	lowSpeedLimit = 0
	lowSpeedTime = 999999

[alias]
	lastcommit = rev-parse HEAD

[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX

[push]
  default = current

[commit]
  template = ~/.gitmessage


[color]
  ui = true

[github]
	user = QiangZiBro
	token = 
#---------------------------------------------------------------------------------
# git免密登录
#---------------------------------------------------------------------------------
# 1.[需要做] 在~/.git-credentials里写好你的账号密码，不带花括号
# https://{username}:{password}@github.com
# 2.[不用做] 下面配置是运行下列语句的结果
# git config --global credential.helper store
[credential]
	helper = store

#---------------------------------------------------------------------------------
# 配置文件结束
#	【注意】
#	1. 本配置文件按修改频率从高到低，对应从前到后排列
#	2. 如果直接使用我的配置文件，请进行对应修改！！！
#---------------------------------------------------------------------------------
